body {
	font-family: Helvetica, sans-serif;
	background-color:#FBE5BA

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f7bd6c;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Changes colour on hover  */
li a:hover {
  background-color:#93c47d ;
  
}

.active {
  background-color: #ff8c00;
}

th{
	font-size:25px;
	text-align:left;
	padding: 0px 0px 10px 5px;
	
}

h1{
	text-transform: uppercase;

}